{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ parent() }}


    {% for video in videosPublished %}
        <li>Title:<a href="{{ path('video_profile',{'id': video.id})}} ">{{ video.title }}</a></li>
        <li>CreatedAt : {{ video.createdAt|date("m/d/Y") }}</li>
        <li>Category : {{ video.category.label }}</li>
    {% endfor %}
{% endblock %}
